## [Start] Setting "raised" to default value of "0". **
$util.qr($context.args.input.put("raised", $util.defaultIfNull($ctx.args.input.raised, 0)))
## [End] Setting "raised" to default value of "0". **
## [Start] Setting "currency" to default value of "WLD". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "WLD")))
## [End] Setting "currency" to default value of "WLD". **
{}