## [Start] Setting "isWorldIdVerified" to default value of "false". **
$util.qr($context.args.input.put("isWorldIdVerified", $util.defaultIfNull($ctx.args.input.isWorldIdVerified, false)))
## [End] Setting "isWorldIdVerified" to default value of "false". **
{}